section.info
        .info__text Пора прийти в форму! The Challenger и Ozon объявляют взрывной<br class="tablet-only"> марафон,<br class="desktop-only"> который продлится с февраля по апрель. Три месяца —<br class="tablet-only"> это три направления<br class="desktop-only"> тренинга: мы начнём с блока интервальных<br class="tablet-only"> тренировок, направленных на<br class="desktop-only"> жиросжигание, затем перейдём<br class="tablet-only"> к работе над силой и придадим мышцам<br class="desktop-only"> рельеф, а завершим<br class="tablet-only"> марафон комплексами упражнений из пилатеса,<br class="desktop-only"> направленных<br class="tablet-only"> на развитие гибкости и достижение гармонии. 
        .info__group
            .info__about
                .info__icon.info__icon_calendar
                .info__about-title 3 месяца тренировок<br>для взрывного старта 2021
            .info__about.info__about_tablet
                .info__icon.info__icon_play
                .info__about-title 8 видео в месяц для<br> максимального эффекта
            .info__about
                .info__icon.info__icon_flag
                .info__about-title Возможность выиграть<br class="desktop-only"> призы<br class="tablet-only"> от Ozon

