section.info
        .info__text Пора прийти в форму!<br class="mobile-only"> The Challenger и Ozon объявляют<br class="mobile-only"> взрывной<br class="tablet-only hide-for-mobile"> марафон,<br class="desktop-only"> который продлится<br class="mobile-only"> с февраля по апрель.<br class="mobile-only"><br class="mobile-only"> Три месяца —<br class="tablet-only hide-for-mobile"> это три направления<br class="desktop-only mobile-only"> тренинга: мы начнём с блока<br class="mobile-only"> интервальных<br class="tablet-only hide-for-mobile"> тренировок,<br class="mobile-only"> направленных на<br class="desktop-only"> жиросжигание,<br class="mobile-only"> затем перейдём<br class="tablet-only hide-for-mobile"> к работе над силой<br class="mobile-only"> и придадим мышцам<br class="desktop-only"> рельеф,<br class="mobile-only"> а завершим<br class="tablet-only hide-for-mobile"> марафон комплексами<br class="mobile-only"> упражнений из пилатеса,<br class="desktop-only hide-for-mobile"> направленных<br class="tablet-only"> на развитие гибкости и достижение<br class="mobile-only"> гармонии. 
        .info__group
            .info__about
                .info__icon.info__icon_calendar
                .info__about-title 3 месяца тренировок<br>для взрывного старта 2021
            .info__about.info__about_tablet
                .info__icon.info__icon_play
                .info__about-title 8 видео в месяц для<br> максимального эффекта
            .info__about
                .info__icon.info__icon_flag
                .info__about-title Возможность выиграть<br class="desktop-only"> призы<br class="tablet-only"> от Ozon

