section.top-banner
    .top-banner__title Марафон силы<br class="mobile-only"> и стройности<br class="hide-for-mobile"> от<br class="mobile-only"> The Challenger и Ozon
    img(src="public/images/bannerLogo.png", alt="The Challenger").top-banner__logo
