.trainings {
    padding-left: em(120);
    margin-top: em(-191);

    @media (max-width: $tablet) {
        padding-left: em(82);
        margin-top: em(-91);
    }

    @media (max-width: $mobile) {
        padding-left: 0;
        margin-top: em(-111);
    }

    &__slider {
        padding-top: em(64);
        padding-bottom: em(20);
        width: em(1056);
        height: em(365);

        @media (max-width: $tablet) {
            width: em(696);
            height: em(234);
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__slide {
        @media (max-width: $mobile) {
            width: em(216);
        }
    }

    &__card {
        background-size: 100%;
        background-repeat: no-repeat;
        width: em(336);
        height: em(336);
        transition: 0.5s linear;
        transform: translateY(0);

        @media (max-width: $tablet) {
            width: em(216);
            height: em(216);
        }

        &_february {
            background-image: url('/public/images/trainings/february.jpg');
        }

        &_march {
            background-image: url('/public/images/trainings/march.jpg');
        }

        &_april {
            background-image: url('/public/images/trainings/april.jpg');
        }

        &_active {
            &:hover {
                transform: translateY(em(-30));
                cursor: pointer;

                .trainings__card-description {
                    background-color: rgba(0, 91, 255, 0.6);
                }

                .trainings__card-arrow {
                    opacity: 1;
                }
            }
        }
    }

    &__card-arrow {
        background-image: url('/public/images/trainings/arrow.svg');
        opacity: 0;
        position: absolute;
        bottom: em(-49);
        left: em(9);
        height: em(121);
        width: em(16);
        transition: 0.3s;

        @media (max-width: $tablet) {
            bottom: em(-32);
            left: em(3);
        }

        @media (max-width: $mobile) {
            background-position: center bottom;
            height: em(88);
        }
    }

    &__card-description {
        padding: em(45) em(31) em(104) em(18);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 91, 255, 0);
        transition: 0.3s;
        box-sizing: border-box;

        @media (max-width: $tablet) {
            padding: em(20) em(10) em(64) em(10);
        }
    }

    &__card-title {
        top: em(-28, 48);
        position: absolute;
        font-weight: 500;
        font-size: em(48);
        line-height: em(28, 48);

        @media (max-width: $tablet) {
            font-size: em(36);
            line-height: em(28, 36);
            top: em(-28, 36);
        }
    }

    &__card-subtitle {
        min-height: em(72, 36);
        font-weight: 500;
        font-size: em(36);
        line-height: em(36, 36);
        margin-bottom: em(20, 36);

        @media (max-width: $tablet) {
            min-height: em(52, 24);
            font-size: em(24);
            line-height: em(26, 24);
            margin-bottom: em(13, 24);
        }
    }

    &__card-text {
        font-weight: 300;
        font-size: em(18);
        line-height: em(24, 18);

        @media (max-width: $tablet) {
            font-size: em(12);
            line-height: em(16, 12);
        }
    }

    &__card-soon {
        display: inline-block;
        font-weight: 400;
        font-size: em(14);
        line-height: em(16, 14);
        background: #f81155;
        border-radius: em(38, 14);
        padding: em(7, 14) em(22, 14);
        position: absolute;
        right: em(18, 14);
        bottom: em(12, 14);

        @media (max-width: $tablet) {
            right: em(5, 14);
            bottom: em(14, 14);
        }
    }
}

@keyframes jump {
    0% { transform: translateY(0); }
    10% { transform: translateY(em(-30)); }
    20% { transform: translateY(0); }
    100% { transform: translateY(0); }
}
